/* GENERIC UI */
body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-col: black;
    --secondary-col: #141922;
    --terziary-col: #282828;
}

/* ASIDE */

#aside-wrapper{
    background-color: var(--primary-col);
    width: 55px;
    height: calc( 100vh - 90px);
    text-align: center;
    padding-top: 1rem;
}

aside img{
    width: 80%;
    margin-bottom: 0.5rem;
}


#download-button{
    width: 40%;
}


main{
    width: 100%;
}

/* HEADER */

#header-wrapper{
    height: 90px;
    width: 100%;
    background-color: var(--primary-col);
    padding-right: 1rem;
}

#header-wrapper a{
    font-size: 14px;
    text-align: center;
    padding: 0.5em 3em;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}

#header-wrapper a:hover{
    transform: scale(1.1);
}

/* MAIN */

#nav-wrapper ul{
    padding: 1em;
}

#nav-wrapper li{
    display: inline;
}
