/* GENERIC UI */
body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-col: black;
    --secondary-col: #141922;
    --terziary-col: #282828;
    --grey-text-col: #7d7f84;
}

/* HEADER */

#header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: calc( 100% - 55px);
    opacity: 0.8;
    margin-left: 55px;
    height: 90px;
    background-color: var(--primary-col);
    padding-right: 1rem;
}

#header-wrapper a{
    font-size: 14px;
    text-align: center;
    padding: 0.5em 3em;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}

#header-wrapper a:hover{
    transform: scale(1.1);
}

/* NAV */

#nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--primary-col);
    width: 55px;
    height: calc( 100vh - 90px);
    text-align: center;
    padding-top: 1rem;
}

nav img{
    width: 60%;
    margin-bottom: 0.5rem;
}


#download-button{
    width: 40%;
}

/* MAIN */

main{
    margin-left: 55px;
    padding-top: 90px;
    background-color: var(--secondary-col);
    height: calc( 100vh - 90px);
    overflow-y: auto;
}

/* CATEOGORY NAVIGATOR */

#category-navigator{
    text-align: center;
    font-size: 14px;
}

#category-navigator li{
    display: inline;
    line-height: 3em;
}

#category-navigator li a{
    color: var(--grey-text-col);
    padding: 0 0.5em;
}

#category-navigator hr{
    width: 30%;
    border: 1px solid greenyellow;
    left: 50%;
    transform: translate(-50%);
}

/* RECENTLY, CREATE FOR, POPULAR ARTIST */

.container{
    color: white;
}

.card-container{
    padding: 1em 0;
}

.card{
    padding: 0.25em;
}

.card img{
    width: 100%;
}

/* POPULAR ARTIST */

#popular-artist .card img{
    border-radius: 50%;
}

/* FOOTER */

#footer-wrapper{
    background-color: var(--terziary-col);
    height: 90px;
}

#footer-wrapper img{
    width: 30px;
}

#song-option{
    gap: 0.5em;
}

#song-option > div:last-child{
    flex-direction: column;
    gap: 0.25em;
}

#playing-controller > div{
    gap: 0.5em;
}

