/* GENERIC UI */
html{
    height: -webkit-fill-available;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

:root{
    --primary-col: black;
    --secondary-col: #141922;
    --terziary-col: #282828;
    --grey-text-col: #7d7f84;
    --cta-height: 90px;
    --footer-height: 90px;
    --navbar-thin-width:  55px;
    --navbar-large-width: 200px;
}



/* NAV */

.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--primary-col);
    height: calc( 100vh - var(--footer-height));
    padding-top: 1rem;
    color: white;
    overflow: hidden;
}

#nav-wrapper-thin{
    width: var(--navbar-thin-width);
    text-align: center;
}

#nav-wrapper-thin img{
    width: 60%;
    margin-bottom: 0.5rem;
}

#nav-wrapper-large{
    width: var(--navbar-large-width);
    display: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

#nav-wrapper-large li{
    margin: 0.5rem auto;
}

#nav-wrapper-large [alt=HOME]{
    border-left: 2px solid greenyellow;
}

#nav-wrapper-large a{
    gap: 0.5rem;
    color: grey;
}

#nav-wrapper-large a:hover{
    color: white;
}

#nav-wrapper-large img{
    width: 15%;
}

#nav-wrapper-large #logo-big{
    width: 70%;
}

#nav-wrapper-large h4{
    margin-bottom: 1rem;
}

.fa-plus{
    padding: 0.45rem 0.5rem;
    background-color: grey;
    color: black;
}

#nav-wrapper-large a:hover .fa-plus{
    background-color: white;
}

#playlist-container{
    height: 100%;
    margin-top: 1rem;
    line-height: 2em;
    overflow-y: auto;
}

#nav-wrapper-large .download-button{
    width: 10%;
}

#nav-wrapper-large #profile-icon-large{
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1;
}


/* MAIN */

main{
    margin-left: var(--navbar-thin-width);
    padding-top: var(--cta-height);
    background-color: var(--secondary-col);
    height: calc( 100vh - var(--footer-height));
    overflow-y: auto;
}

/* CALL TO ACTION */

#call-to-action{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: calc( 100% - var(--navbar-thin-width));
    opacity: 0.8;
    margin-left: var(--navbar-thin-width);
    height: var(--cta-height);
    background-color: var(--primary-col);
    padding-right: 1rem;
}

#call-to-action a{
    font-size: 14px;
    text-align: center;
    padding: 0.5em 3em;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}

#call-to-action a:hover{
    transform: scale(1.1);
}


/* CATEOGORY NAVIGATOR */

#category-navigator{
    text-align: center;
    font-size: 14px;
}

#category-navigator li{
    display: inline;
    line-height: 3em;
}

#category-navigator li a{
    color: var(--grey-text-col);
    padding: 0 0.5em;
}

#category-navigator li a:hover{
    color: white;
}

#category-navigator hr{
    width: 30%;
    border: 1px solid greenyellow;
    left: 50%;
    transform: translate(-50%);
}

/* RECENTLY, CREATE FOR, POPULAR ARTIST */

main section small{
    color: grey;
}

.container{
    color: white;
}

.card-container{
    padding: 1em 0;
}

.card{
    padding: 0.25em;
}

.card img{
    width: 100%;
    background-color: black;
}

.card img, .card h4{
    margin-bottom: 0.5rem;
} 


.card:hover{
    cursor: pointer;
}
.card:hover img{
    opacity: 0.5;
}

.fa-circle-play.pos-absolute{
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card:hover .fa-circle-play.pos-absolute{
    display: block;
}

/* POPULAR ARTIST */

#popular-artist .card img{
    border-radius: 50%;
}

/* FOOTER */


#footer-wrapper{
    background-color: var(--terziary-col);
    height: var(--footer-height);
    font-size: 14px;
    gap: 1rem;
}

#footer-wrapper img{
    width: 30px;
}

#footer-wrapper small{
    color: grey;
}

#song-option, #streaming-option{
    gap: 0.5em;
}

#song-option i,
#streaming-option i{
    color: grey;
}

#song-option i:hover,
#streaming-option i:hover{
    color: white;
    cursor: pointer;
}

#song-option > div:last-child{
    flex-direction: column;
    gap: 0.25em;
}

#playing-controller > div{
    gap: 0.5em;
    margin: 1em 0;
}

#playing-controller > div:first-child{
    max-width: 200px;
    margin: 0 auto;
}

#playing-controller > div:first-child i:hover{
    cursor: pointer;
    transform: scale(1.5);
}

#play-button{
    font-size: 1.5em;
}

#entire-progress-bar{
    width: 100%;
    height: 4px;
    background-color: grey;
    border-radius: 2px;
}

#effective-progress-bar{
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

#entire-volume-bar{
    width: 50%;
    height: 4px;
    background-color: grey;
    border-radius: 2px;
    display: none;
}

#effective-volume-bar{
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

#entire-progress-bar:hover{
    cursor: pointer;
}

#entire-progress-bar:hover #effective-progress-bar{
    background-color: greenyellow;
}

#entire-volume-bar:hover{
    cursor: pointer;
}

#entire-volume-bar:hover #effective-volume-bar{
    background-color: greenyellow;
}

#entire-progress-bar .bar-ball{
    display: none;
    right: 0;
    top: 0;
    transform: translate(50%, -30%);
    color: white;
}

#entire-volume-bar .bar-ball{
    display: none;
    right: 0;
    top: 0;
    transform: translate(50%, -30%);
    color: white;
}

#entire-progress-bar:hover .bar-ball{
    display: block;
}

#entire-volume-bar:hover .bar-ball{
    display: block;
}

/* MEDIA QUERY */

@media screen and (min-width: 481px) {
    
    #nav-wrapper-thin{
        display: none;
    }
    
    #nav-wrapper-large{
        display: flex;
    }

    main{
        margin-left: var(--navbar-large-width);
    }

    #call-to-action{
        width: calc( 100% - var(--navbar-large-width) );
        margin-left: var(--navbar-large-width);
    }

    #song-option, #streaming-option{
        width: 20%;
    }

    #entire-volume-bar{
        display: block;
    }

}

@media screen and (min-width: 787px){

    #song-option > div:last-child{
        flex-direction: row;
        gap: 1em;
    }
}

@media screen and (max-height: 360px){

    #call-to-action{
        display: none;
    }

    main{
        padding-top: 0;
    }
}

